@tailwind base;
@tailwind components;
@tailwind utilities;


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* PAGE */
.page {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #4facfe, #00f2fe); */
  background-image: linear-gradient( 180.4deg,  rgba(0,6,10,1) 1%, rgba(1,190,237,1) 91.4% );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* CARD */
.card {
  /* background: #fff; */
  background-image: linear-gradient( 180.4deg,  rgba(0,6,10,1) 1%, rgba(1,190,237,1) 91.4% );
  width: 100%;
  max-width: 420px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  transition:all 2s ease-in-out;
}

.card:hover
{
    transform: scale(1);
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.8);
}

/* TITLE */
.card h1 {
  text-align: center;
  margin-bottom: 20px;
  color:whitesmoke;
}

/* MESSAGE */
.message {
  text-align: center;
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* FORM */
.card label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  color: #181717;
}

.card input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card input:focus {
  outline: none;
  border-color: #4facfe;
}

/* BUTTON */
.card button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4facfe;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #2f80ed;
}

.card button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

/* SHORT URL */
.short-url {
  margin-top: 15px;
  text-align: center;
  word-break: break-all;
}

.short-url a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

.short-url a:hover {
  text-decoration: underline;
  color: rgb(58, 58, 190);
}

/* QR */
.qr-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.qr-box img {
  width: 160px;
  height: 160px;
  padding: 8px;
  border-radius: 10px;
  border: 4px solid #eee;
}

/* MOBILE */
@media (max-width: 480px) {
  .card 
  {
    padding: 20px;
  }
}
